<!doctype html>

<html>
    <head>
          <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
  
  <style>
  </style>
      <link href="/css/admin.css" rel="stylesheet">

    </head>
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">MPENGS</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <a class="nav-link px-3" href="/logout">Logout</a>
    </div>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/administrator/users">
              <span data-feather="users"></span>
              Users
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/administrator/feedback">
              <span data-feather="bar-chart-2"></span>
              Feedback
            </a>
          </li>
        </ul>

        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="/administrator/leaderboard">
              <span data-feather="file-text"></span>
              Leaderboards
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/vue12#/1">
              <span data-feather="file-text"></span>
              Inventory
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/administrator/projects_panel">
              <span data-feather="file-text"></span>
	      Projects Panel
            </a>
          </li>
            <li class="nav-item">
                <a class="nav-link active" href="/administrator/viewcareer">
                <span data-feather="file-text" aria-current="page"></span>
                  Career Panel
                </a>
             </li>

            <li class="nav-item">
            <a class="nav-link" href="/administrator/applicants">
              <span data-feather="file-text"></span>
	      Applicant Panel
            </a>
          </li>
	</ul>
      </div>
    </nav>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	      <h1 class="h2">Admin {{username}}</h1>
	      <p> </p>
        <div class="btn-toolbar mb-2 mb-md-0">
	    <a class="btn btn-sm btn-outline-secondary" href="/administrator/insertcareer" role="button">Insert New Career</a>
        </div>
      </div>
    

    <p> </p>
    <table class="table table-striped">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Location</th>
            <th scope="col">Experience</th>
            <th scope="col">Key Skills</th>
            <th scope="col">Description</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>

        </tr>
        {{#each data}}
        <tr>
            <td scope="row">{{this.id}}</td>
            <td>{{this.title}}</td>
            <td>{{this.location}}</td>
            <td>{{this.experience}}</td>
            <td>{{this.key_skills}}</td>
            <td>{{this.desc}}</td>
	    <td><a class="btn btn-info" href="/administrator/edit/careeredit/{{{this.id}}}">Edit</a>
	    <td><a class="btn btn-danger" href="/administrator/edit/careerdelete/{{{this.id}}}">Delete</a></td>
      <td><a class="btn btn-info" href="/administrator/applicants/{{{this.title}}}">View Applicants</a></td>

        </tr>
        {{/each}}
    </table>
    </main>
  </div>
</div>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</html>
